.card-box{
    background-color: white;
    border: 2px solid indigo;
    border-radius: 10px;
    transition: color .4s, background-color .4s;
    color: black;
    text-decoration: none;
    height: 400px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1%;
    transition: transform .4s;
    font-family: Lato;
}
.card-box:hover{
    transform: scale(1.05)
}
.card-box:hover .card-content .button, .button:hover{
   display: block;
}
.card-box .button{
    display:none;
    background-color: red;
    color: white;
    text-align: center;
    font-family: Lato;
    margin: auto;
    outline: none;
    width:100px;
    height: 25px;
    border-radius: 5px;
    
}
.card-content{
    margin-top:6%;
}
.card-content h2{
    text-align: center;
}
.card-content h3{
    margin: 4%
}